# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
*.iml
__pycache__/

venv/
env/

/static/
media/
logs/

docker_volumes/

*.pyc
*.log
.python-version

.envs

celerybeat-schedule
celerybeat-schedule.db

obf/

keys/

flower*

.DS_Store

/debug*.py
